<div class='contest-header'>
  <h1>KoolKat's Computer Setup</h1>
  <p>Select the <b>image</b> you want to vote for and press Submit!</p>
</div>

<div class='contest-body'>
  <% if current_user&.is_admin? %>
    <p>Hello admin, upload new contenstant images with this button</p>
    <%= link_to 'Upload new image', new_contest_kool_kat_path, class: "btn btn-success" %>
  <% end %>
  <div class="contest-form">
    <%= form_with(model: @kool_kat, url: contest_vote_path, local: true) do |form| %>
      <%= select_tag :image_id, options_for_select(@kool_kats.map{ |i| [i.email, i.id, {'data-img-src'=> i.image.service_url}] }), 
        class:"image-picker show-html", multiple: true, size: 5 %>
      <br>
      <div class="contest-submit-button">
        <% if current_user %>
          <%= form.submit 'Submit your vote', class: "btn btn-success", disabled: !current_user %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){ 
  $("select").imagepicker({
    hide_select:  true, 
    show_label:   true,
    limit: 1,
    limit_reached: function(){alert('You are allowed to vote for 1 picture')},
    clicked: function(){
      console.log($(this).find("option[value='" + $(this).val() + "']").data('img-src'));
      }
    });
 }); 
</script>