/* line 1, app/assets/stylesheets/kool_kats.scss */
.contest-header {
  padding: 10px 16px;
  color: white;
  top: 95px;
  width: 100%;
}

/* line 7, app/assets/stylesheets/kool_kats.scss */
.contest-header p {
  font-style: oblique;
}

/* line 10, app/assets/stylesheets/kool_kats.scss */
.contest-body {
  padding-top: 10px;
  padding-left: 16px;
  padding-right: 16px;
}

/* line 14, app/assets/stylesheets/kool_kats.scss */
.contest-body p {
  color: white;
}

/* line 19, app/assets/stylesheets/kool_kats.scss */
.contest-submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

/* line 26, app/assets/stylesheets/kool_kats.scss */
.img-grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

/* line 32, app/assets/stylesheets/kool_kats.scss */
.img-wrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
  transition: transform .25s ease;
}

/* line 41, app/assets/stylesheets/kool_kats.scss */
.img-wrap img {
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 50, app/assets/stylesheets/kool_kats.scss */
.img-overlay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  opacity: 0;
  transition: opacity 0.25s;
}

/* line 65, app/assets/stylesheets/kool_kats.scss */
.img-title {
  padding-left: 1rem;
  padding-top: 1rem;
}

/* line 70, app/assets/stylesheets/kool_kats.scss */
.img-trash-icon {
  padding-right: 1rem;
  padding-top: 1rem;
}

/* line 75, app/assets/stylesheets/kool_kats.scss */
ul.thumbnails.image_picker_selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
}

/* line 83, app/assets/stylesheets/kool_kats.scss */
.contest-form {
  margin-top: 10px;
}
/*

*/
/* line 5, app/assets/stylesheets/contest.scss */
.contest {
  background-color: #202020;
}
