<div class="alert alert-info" role="alert" align="center">
   Creating a new event will now post the event and details to the #events-and-hackathons channel in the Discord server.
</div>

<h2>New Event</h2>

<%= render 'form' %>
