.letter {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.letter-box {
  border: 1px solid green !important;
  border-radius: 20px;
  font-size: 20px;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
