<div class="discord_images">
  <div class="discord_logo">
    <%= image_tag("discord-logo.png", height: '57', width: '50') %>
  </div>
  <div class="discord_logo">
    <%= image_tag("uw-logo.png", height: '57', width: '50') %>
  </div>
</div>

<center>
  <br>
  Create a Discord account at <a href="https://discordapp.com/register">https://discordapp.com/register</a>
  <br><br>
  If you already have a Discord account, simply join with the button below!
  <br><br><br>
  <a href="https://discord.gg/MzYMkcj" target="_blank">
    <button type="button" class="btn btn-secondary btn-lg">Join Discord</button>
  </a>
</center>
