<div class="text-right float-right">
<%= link_to "Contribute to guide", "https://github.com/EricPickup/uwindsor-css-hub/edit/master/app/views/pages/GUIDE.markdown", class: "btn btn-primary" %>
</div>

<style>

</style>

<%= markdown(File.read("app/views/pages/GUIDE.markdown")) %>
