@import 'bootstrap';
@import 'bootstrap/dist/css/bootstrap.min.css';

h1 {
  font-family: sans-serif, Arial, Helvetica;
  font-weight: 700;
}
.center-text {
  margin: 0.5em;
  text-align: center;
}

.question-text {
  font-family: sans-serif, Arial, Helvetica;
  font-size: 2em;
  text-align: center;
}
