.contest-header {
  padding: 10px 16px;
  color: white;
  top: 95px;
  width: 100%;
}
.contest-header p {
  font-style: oblique;
}
.contest-body {
  padding-top: 10px;
  padding-left: 16px;
  padding-right: 16px;
  p {
    color: white;
  }
}

.img-grid{
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.img-wrap{
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
  transition: transform .25s ease;
}

.img-wrap img{
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
}

.img-overlay{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  opacity: 0;
  transition: opacity 0.25s;
}

.img-title{
  padding-left: 1rem;
  padding-top: 1rem;
}

.img-trash-icon{
  padding-right: 1rem;
  padding-top: 1rem;
}

ul.thumbnails.image_picker_selector{
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

ul.thumbnails.image_picker_selector::-webkit-scrollbar { display: none; }

.contest-form {
  margin-top: 10px;
}
