.main {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
}

.probProgress {
  width: 100%;
}

.section {
  @extend .main;
  margin-top: 0px;
}

.title {
  color: rgb(106, 173, 94);
}
