<footer class="footer">
  <small>
    <a href="/">Computer Science Society</a>
  </small>
  <nav>
    <ul>
      <li><a href="https://github.com/UWindsorCSS/hub">Contribute</a></li>
    </ul>
  </nav>
</footer>
